
* {
  margin: 0;
  padding: 0;
} 

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.inter300 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.75vw;
  line-height: 1.5em;
  margin: .2em 0 .6em;
  letter-spacing: 0.5px;
}

.inter900 {
  font-size: 5vw;
  line-height: 1.1em;
  line-height: .9em;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.3em;
  letter-spacing: 0.5px;
}

.copy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 2vw;
  line-height: 1.7em;
  margin: .2em 0 .6em;
  letter-spacing: 0.5px;
}

.day-mode {
  color: #2F2A2F;
  background-color: #F7E8EC;
}

.night-mode {
  background-color: #232B32;
  color: #C3B6A2;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  width: 50%;
  text-align: left;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#nav-link {
  font-size: 2.5vw;
  margin: 30px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* toggle button */ 

.toggle-btn{
  position: relative;
  width: 72px;
  height: 37px;
  margin: 30px;
  border-radius: 40px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#_1st-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,#_1st-toggle-btn span:after {
  content: '';
  position: absolute;
  top: 4px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: #fff;
  transform: translate(-58px,0px);
  z-index: 1;
}

#_1st-toggle-btn span:after{
  background-color: #000;
  transform: translate(4px,0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: #000;
  transform: translate(28px,-10px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(38px,0px);
}

.blue-underline {
  background-image: linear-gradient(180deg, transparent 65%, #5c7083 0);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .4s ease;
}

.blue-underline:hover {
  background-size: 100% 100%;
  letter-spacing: 1px;
  transition: all 0.7s;
}

.project-name {
  max-width: fit-content;
  cursor: pointer;
  font-size: 4vw;
}

.project-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.section-title-content {
  width: 50%;
  text-align: left;
  padding-bottom: 30px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.project-item-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding-bottom: 50px;
  text-align: left;
  min-height: 50vh;
}

.section-image {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

img {
  width: 50vw;
  height: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

button {
  text-align: center;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  transition: 0.3s ease all;
  border-radius: 0em;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 10px 0;
}

.button-day-mode {
  background-color: #fff;
  border: 1px solid #fff;
  border: none;
}

.button-night-mode {
  background-color: #13171b;
  border: 1px solid #13171b;
  border: none;
  color: #E1CFC5;
}

button:hover{
  transition: 0.3s ease all;
  background: none;
  border: 1px solid white;
  color: #fff;
}

/* CONTACT */ 

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  padding: 30px 0;
}

.contact-form {
  width: 50%;
}

.contact-text {
  width: 50%;
}

input, textarea {
  padding: 10px;
  margin-top: 10px 0;
  width: 100%;
  text-align: left;
  font-size: 1vw;
  font-family: 'Inter';
  border: none;
}

.input-day-mode {
  background-color: #fff;
  color: #2F2A2F;
}

.input-night-mode {
  background-color: #13171b;
  color: #E1CFC5;
}

.textarea-day-mode {
  background-color: #fff;
  color: #2F2A2F;
}

.textarea-night-mode {
  background-color: #13171b;
  color: #E1CFC5;
}

input:hover, textarea:hover {
  letter-spacing: 0.1px;
  transition: all 0.4s;
}

textarea {
  height: 20vh;
  resize: none;
}

.form-button-section {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height: 20vh;
}

.footer-day-mode {
  background-color: white;
}

.footer-night-mode {
  background-color: #13171b;
}

i {
  font-size: 30px;
  padding: 0 30px;
}

.tools {
  padding: 0 10px;
}

.social-media:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  cursor: pointer;
}

.social-media {
  font-size: 30px;
  padding: 0 30px;
}

#labels {
  font-size: 3vh;
}

h1 {
  margin: 0;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 6vw;
  line-height: 1.1em;
  line-height: .9em;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.5px;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.fadein {
  opacity: 0;
}

@media all and (max-width: 600px) {

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    width: 50%;
  }
  
  .contact-text {
    width: 50%;
  }

  #tools i {
    padding: 0 5px;
  }

}

@media (max-width: 975px) {

  nav {
    position: sticky;
  }

  .header-content {
    height: 80vh;
  }
}

@media (max-width: 600px) {
  .toggle-btn{
    position: relative;
    width: 36px;
    height: 20px;
    margin: 15px;
    border-radius: 40px;
  }
  
  input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #_1st-toggle-btn span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
  }
  
  #_1st-toggle-btn span:before,#_1st-toggle-btn span:after {
    content: '';
    position: absolute;
    top: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
  }
  
  #_1st-toggle-btn span:before {
    background-color: #fff;
    transform: translate(-29px,0px);
    z-index: 1;
  }
  
  #_1st-toggle-btn span:after{
    background-color: #000;
    transform: translate(2px,0px);
    z-index: 0;
  }
  
  #_1st-toggle-btn input[type="checkbox"]:checked + span {
    background-color: #000;
  }
  
  #_1st-toggle-btn input[type="checkbox"]:active + span {
    opacity: 0.5;
  }
  
  #_1st-toggle-btn input[type="checkbox"]:checked + span:before {
    background-color: #000;
    transform: translate(14px,-5px);
  }
  
  #_1st-toggle-btn input[type="checkbox"]:checked + span:after {
    background-color: #fff;
    transform: translate(19px,0px);
  }
}
